.container {
  margin-top: 100px;
}

.header {
  color: grey;
}

.ItemRow {
  margin-bottom: 20px;
}

.Itemimage {
  height: 100px !important;
  width: 100px !important;
}

.quantity {
  width: 80px !important;
  display: inline !important;
  margin-left: 3% !important;
  height: 35px !important;
}

.checkoutLink {
  color: white;
}

.checkoutButton {
  height: 50px;
  margin-bottom: 20px;
}

.card-text {
  height: 50px;
}
