.itemRow {
  display: block !important;
}

#addressForm {
  width: 50%;
}

.error {
  font-size: 11px;
  color: red;
}

.addAddress {
  margin-bottom: 10px;
}
#delivery {
  margin-top: 10px;
}
.addressFields {
  margin-top: 10px;
}
.paymentLink {
  color: white;
}
.paymentLink:hover {
  color: white;
  text-decoration: none;
}
