.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
/* ul {
  list-style-type: none;
  display: inline-block;
}
li > a:hover {
  text-decoration: none;
  color: white;
}
li > a {
  float: right;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.front-name {
  color: white !important;
  margin: auto !important;
  padding: 0px !important;
}
*/
