/* body {
  background-image: url("../images/Man1_b&w.jpg") !important;
  background-size: 100% 50%;
  background-repeat: no-repeat;
} */
.Woman-pic {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-image: url("../images/Woman3.jpg");
  background-attachment: fixed;
  filter: blur(0px);
}
.sectionlink {
  font-family: "Raleway", sans-serif;
  color: black;
  margin: 5px;
  position: relative;
}
.sectionlink:hover {
  color: black;
  text-decoration: none;
}

.sectionlink:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}
.sectionlink:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
/* .imageman {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 60vh;
} */
.Man-pic {
  /* min-height: 60vh; */
  /* position: absolute;
  top: 50px; */

  margin-top: 55px;
  min-height: 95vh;
  background-size: cover;
  background-size: 100% 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/frontimage.jpg");
  filter: blur(0px);

  /* background-attachment: fixed; */
}
@media only screen and (max-width: 540px) {
  .Man-pic {
    min-height: 50vh;
  }
  .front-button {
    display: none;
  }
}

.Kid-pic {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-image: url("../images/Kids1.jpg");
  background-attachment: fixed;
  filter: blur(0px);
}
.Covid-pic {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-image: url("../images/Covid1.jpg");
  background-attachment: fixed;
  filter: blur(0px);
}
.front-text-subhead {
  font-weight: initial;
  font-size: 15px;
}
.front-text {
  text-align: center;
  padding: 50px;
  background-color: white;
  opacity: 0.6;
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.front-button > i {
  text-decoration: none;
  color: white;
}
.front-button > i:hover {
  text-decoration: none;
  color: white;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.front-button {
  color: white;
  position: absolute;
  top: 94%;
  left: 50%;

  /* border: 1px solid #fff; */
  transform: translate(-50%, -50%);
  background-color: transparent;
}
